body {
  background-color: #1d1d1d;
  color: #f5f5f5;
  font-family: 'Helvetica Neue', sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 800px;
  padding: 20px;
}

.control-panel {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.username,
.date {
  background-color: #333333;
  border: none;
  border-radius: 5px;
  color: #f5f5f5;
  font-size: 16px;
  padding: 10px;
  width: 200px;
}

.username:focus,
.date:focus {
  outline: none;
}

.fetch {
  background-color: #D51007;
}

.fetch:hover {
  background-color: #d51107b6;
}

.export {
  background-color: #1DB954;
}

.export:hover {
  background-color: #1db954e1;
}

.button:disabled {
  color: #1d1d1d;
  background-color: #CCCCCC;
  opacity: 0.5;
  cursor: not-allowed;
}

.button {
  border: none;
  border-radius: 5px;
  color: #f5f5f5;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
}

.tracks {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.year-container {
  background-color: #333333;
  border-radius: 5px;
  padding: 20px;
  width: 100%;
}

.year-container h2 {
  font-size: 24px;
  margin-top: 0;
}

.track-container {
  border-bottom: 1px solid #666666;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.track-container:last-child {
  border-bottom: none;
}

.track-container p {
  font-size: 16px;
  margin: 0;
}

.track-container strong {
  color: #4CAF50;
}

.track-container a {
  color: #53D769;
  text-decoration: none;
}

.track-container a:hover {
  text-decoration: underline;
}
